# Written by the engine beside each mod it loads from a folder the person owns; rewritten on load.
*/.claude-plugin/types/
# Created by the engine in a mod that has none, extending the generated config above.
*/tsconfig.json
